body {
margin: 30px 0;
font-family: "Helvetica";
font-size: 14px;
line-height: 1.5;
color: black;
}

a img {
border: none !important;
}

a {
text-decoration: none;
font-weight: bold;
color: black;
}
  a:hover {
color: #0091FF;
}

#container {
margin: 0 auto;
width: 700px;
}

h1 {
padding: 80px 0 10px;
font-size: 50px;
}
  h1 em {
font-style: normal;
font-size: 15px;
}

h2 {
margin: 40px 0 15px 0;
padding-top: 20px;
border: 0;
border-top: 1px solid #aaa;
font-size: 20px;
}
h1 .small {
font-size: 0.4em;
}
h1 a {
text-decoration: none
}
h3 {
text-align: center;
}
.description {
font-size: 1.2em;
margin-bottom: 30px;
margin-top: 30px;
font-style: italic;
}
#download {
float: right;
}

#download a img {
-webkit-transition-property: opacity, -webkit-transform, color, background-color, padding;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: ease-out;
}

#download a img:hover {
z-index: 10;
-webkit-transform: translate(10px, -10px) scale(1.05);
opacity: 0.65;
}

pre {
  display: block;
  padding: 15px 20px;
  background: black;
  font-family: "Bitstream Vera Sans Mono";
  white-space: pre;
  color: white; 
}

hr {
border: 0;
width: 80%;
border-bottom: 1px solid #aaa
}
.footer {
text-align: center;
padding-top: 30px;
font-style: italic;
}
